<p id="notice"><%= notice %></p>

<h1>News</h1>

<% @news.each do |news| %>
  <%= link_to news.url, class:"text-dark", style:'text-decoration: none', target:"_blank" do %>
    <div class="card mb-3" style="border-radius: 30px; box-shadow: 1px 1px 20px rgba(0,0,0,.3)">
      <div class="card-body">
        <h4 class="card-title"><%= news.title %></h4>
        <h6 class="card-subtitle mb-2 text-muted"><%= news.caption %></h6>
        <p><%= news.body.html_safe.truncate_words(50) %></p>
        <div class="row">
          <p class="col-sm-7">
            <% unless news.tags.blank? %>
              Tags: <%= news.tags %>
            <% end %>
          </p>
          <p class="col-sm-5 text-right font-weight-bold">Fonte: <%= news.source_news %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

