<p id="notice"><%= notice %></p>

<p>
  <strong>Source news:</strong>
  <%= @news.source_news %>
</p>

<p>
  <strong>Url:</strong>
  <%= @news.url %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Date publish:</strong>
  <%= @news.date_publish %>
</p>

<p>
  <strong>Date crawler:</strong>
  <%= @news.date_crawler %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @news.tags %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @news.caption %>
</p>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
